#hidden-original{

    display: none;
    width: 500px;
    height: 500px;

}
.wrapper{
    width:1250px;
    margin: auto;
    border: 1px solid gray ;
    box-shadow: 2px 2px 4px rgba(150, 150, 150, 0.8);
    min-width: 1200px;

}
.view{
    margin: auto 5px;
}
.nav{
    position: relative;
    width: 150px;
    margin: auto;
    display: inline-block;
    vertical-align: top;
    height: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}
.nav>ul{
    list-style: none;
    margin: 0;
    padding: 20px;
}
.puzzle-field{
    width: 1050px;
    margin: auto;
    display: inline-block;
    border-left: 3px solid green;
    min-width: 1050px;
    text-align: left;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 15px;
    height: 600px;
}
.puzzle-wrapper{
    text-align: center;
}
.original-view-container *, .shuffled-view-container *{
    margin: 0;
    padding: 0;
    font-size: 0;
}
.original-view-container, .shuffled-view-container{
    position: relative;
    margin: 0 10px 0 10px;
    padding: 0;
    width: 500px;
    height: 500px;
    display: inline-block;
}
.help-view{
    position: absolute;
    top: 0;
    left: 0;
    width: 500px;
    height: 500px;
}
.original-view, .shuffled-view{
    position: absolute;
    border-collapse: collapse;
    border: 1px solid green;
    width: 500px;
    height: 500px;
}
.shuffled-view .place{
    border: 1px solid green;
}
.place{
    width: 100px;
    height: 100px;
    margin: 0;
    padding: 0;
}
.particle{
    width: 100px;
    height: 100px;
}
